<footer class = 'footer'>
    <div class = 'footer_inner margin-div'>
        <div>
            {%- include icons/footer-logo.svg -%}
            <p>
                Oxidize is the conference for people interested in embedded Rust. Run by Ferrous Systems GmbH, a consultancy for network programming and embedded systems in Rust, it's the best place for people interested in hardware and IoT to meet.
            </p>
        </div>
        <div class = 'footer_meta'>
            <h2>Connect with us:</h2>
            <div>
                {%- include icons/location.svg -%}
                <a href="#">Berlin, Germany</a>
            </div>
            <div>
                {%- include icons/mail.svg -%}
                <a href="mailto:oxidize@ferrous-systems.com">oxidize@ferrous-systems.com</a>
            </div>
            <div>
                {%- include icons/call.svg -%}
                <a href="#">+49 172 8122469</a>
            </div>
            <div>
                {%- include icons/twitter.svg -%}
                <a href="https://twitter.com/OxidizeConf" rel = 'noopener' target = '_blank'>Twitter</a>
            </div>
        </div>
        <div class = 'footer_meta'>
            <h2>Links</h2>
            <a href = '/code-of-conduct/'>Code of Conduct</a>
            <a href = '/imprint/'>Imprint</a>
        </div>
    </div>
</footer>