.margin-div {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
#menu {
    cursor: default;
    height: 100%;
    left: 0;
    opacity: 1;
    text-align: center;
    @media screen and (min-width: 1024px) {
        text-align: right;
    }
    top: 0;
    visibility: visible;
    width: 100% !important;
}
.nav-links {
    @media screen and (min-width: 1024px) {
        margin-left: 0.5rem;
        padding: 10px 1rem;
        border: 2px solid transparent;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 0;
            left: 1rem;
            transition: width 0.25s ease-out;
            background: $mute;
            bottom: 0.2rem;
        }
        &:not(:last-child) {
            text-align: left;
        }
        &:not(:last-child):hover::after {
            padding: 2px;
            width: 50%;
            max-width: 3rem;
        }
    }
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}
.nav-links.tic {
    background-color: #FFFFFF;
    color: #A758E4;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
}
.nav-links.tic:hover {
    background: linear-gradient(150.87deg, #423CC6 9.39%, rgba(167, 88, 228, 0) 112.81%), #A758E4;
    color: white;
    transition: 0.3s;
}
header {
    background: linear-gradient(150.87deg, #423CC6 9.39%, rgba(167, 88, 228, 0) 112.81%), #A758E4;
    // padding-left: 1.5rem;
    // padding-right: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
h1 {
    font-weight: bold;
    line-height: 2.5rem;
    font-size: 2.5rem;
}
.h1 {
    color: #FFFFFF;
    /*margin-left: 200px;*/
    margin-top: 130px;
    margin-right: 20px;
}
h1 span {
    font-weight: lighter;
    font-size: 2rem;
}
header h2 {
    font-weight: 500;
    line-height: 31px;
    font-size: 1.4rem;
    margin-top: 50px;
    margin-right: 20px;
    color: #FFFFFF;
}
header p {
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-right: 300px;
    margin-bottom: 50px;
}
#buttons-div {
    position: absolute;
    z-index: 1;
}
.buttons {
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.buttons.one {
    background: linear-gradient(0deg, #FEFCFF, #FEFCFF);
    color: #A758E4;
    padding-left: 25px;
    padding-right: 25px;
}
.buttons.two {
    background: linear-gradient(150.87deg, #423CC6 9.39%, rgba(167, 88, 228, 0) 112.81%), #A758E4;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}
.buttons.one:hover {
    background: linear-gradient(150.87deg, #423CC6 9.39%, rgba(167, 88, 228, 0) 112.81%), #A758E4;
    color: #FFFFFF;
    transition: 0.3s;
}
.buttons.two:hover {
    background: linear-gradient(0deg, #FEFCFF, #FEFCFF);
    color: #A758E4;
    transition: 0.3s;
}
#svg-circle1, #svg-circle2, #svg-peanut1, #svg-peanut2, #svg-peanut3, #svg-peanut4 {
    position: absolute;
    z-index: 0;
}
#svg-peanut3 {
    top: 200px;
}
#svg-circle2 {
    left: 50%;
}
#svg-peanut4 {
    left: 30%;
    top: 70%;
}
#schedule-div {
    background-color: #F4F4F4;
    padding-top: 50px;
}
.schedule {
    &_date {
        font-weight: bold;
    }
}
#schedule-div-h2-head, #logistics-div-h2-head {
    font-weight: bold;
    line-height: 54px;
    font-size: 48px;
    color: #A758E4;
    margin-bottom: 1.5rem;
}
#logistics-div-h2-head {
    color: #FFFFFF;
}
#schedule-div .schedule_heading, .logistics-div-other-h2 {
    font-weight: bold;
    line-height: 40px;
    font-size: 36px;
    color: #423CC6;
}

.dates, .location {
    font-weight: bold;
    line-height: 20px;
    font-size: 18px;
    color: $light;
}
.location {
    font-weight: 400;
    margin: 1.5rem 0;
}
#schedule-div .schedule-para, .logistics-para, .newsletter-para {
    font-size: 18px;
    color: #000000;
    margin-top: 37px;
    /*margin-right: 5%;*/
}

.newsletter-para {
    margin-top: 28px;
}

#logistics-div {
    background-color: #423CC6;
}
#svg-snake-peanut1, #svg-snake-circle1, #svg-snake-peanut2, #svg-snake-circle2, #svg-snake-peanut3, #svg-snake-circle3 {
    position: absolute;
}
#svg-snake-peanut1 {
    margin-top: 500px;
}
#svg-snake-circle1 {
    margin-top: 570px;
}
#svg-snake-peanut2 {
    margin-top: 400px;
}
#svg-snake-circle2 {
    margin-top: 270px;
}
#svg-snake-peanut3 {
    margin-top: 230px;
}
.form {
    margin-top: 24px;
    &_email, &_submit {
        font-size: 1.25rem;
        padding: 0.5rem 2rem;
        border-radius: 10px;
    }
    &_email {
        background-color: #FFFFFF;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
    &_submit {
        background: linear-gradient(0deg, #423CC6, #423CC6);
        border: 2px solid #423CC6;
        font-weight: bold;
        color: #FFFFFF;
    }
}
form #submit:hover {
    cursor: pointer;
}
.input-br {
    display: none;
}
.res-br {
    display: none;
}

.bar1-change {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.bar2-change {
    opacity: 0;
}
.bar3-change {
    -webkit-transform: rotate(45deg) translate(-9px, -6px);
    transform: rotate(45deg) translate(-9px, -6px);
}
.bar1, .bar2, .bar3 {
    width: 40px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.mozila-br {
    display: none;
}
#i {
    position: absolute;
    right: 1.5rem;
    z-index: -1;
}
.mozila-res-br {
    display: none;
}
#i:hover {
    cursor: pointer;
}
.buttons-br {
    display: none;
}
@media only screen and (max-width: 1036px) {
    #logo, h1, header h2, header p, .buttons.one {
        margin-left: 0px !important;
    }
    .buttons.two {
        margin-left: 0px !important;
    }
}
@media only screen and (max-width: 1102px) {
    #svg-peanut4 {
        display: none;
    }
}
@media only screen and (max-width: 1118px) {
    #nav-links-div {
        display: none;
    }
    header {
        padding-bottom: 35px;
    }
    .res-br {
        display: block;
    }
    #i {
        z-index: 1;
    }
    
    .buttons.two {
        margin-top: 20px;
        display: block;
        margin-left: 100px;
    }
}
@media only screen and (max-width: 822px) {
    #svg-circle2 {
        display: none;
    }
    header p {
        margin-right: 150px;
    }
}
@media only screen and (max-width: 692px) {
    #svg-peanut1 {
        display: none;
    }
}
@media only screen and (max-width: 556px) {
    #svg-circle1 {
        display: none;
    }
    h1 {
        margin-top: 80px;
    }
    #logo, h1, header h2, header p, .buttons.one, .buttons.two {
        margin-left: 20px;
    }
}
@media only screen and (max-width: 478px) {
    #logo, h1, header h2, header p, .buttons.one, .buttons.two {
        margin-left: 20px;
    }
    header p {
        margin-right: 20px;
    }
}
@media only screen and (max-width: 546px) {
    .buttons-br {
        display: block;
    }
    header p {
        margin-right: 50px;
    }
    .input-br {
        display: block;
    }
    #logo, h1, header h2, header p, .buttons.one, .buttons.two{
        margin-left: 20px;
    }
    header p {
        margin-right: 20px;
    }
}
