<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{%- seo -%}
		<link rel="stylesheet" type="text/css" href='{{ site.baseurl }}/css/styles.css' />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" sizes="32x32">
		{% if page.tickets %}
		<script async src='{{ site.baseurl }}/javascript/tito.js'></script>
		{% endif %}
	</head>
	<body>
		{%- unless page.layout == 'home' -%}
		<header>
			{% include nav.html %}
			<div class = 'session_headline'>
				<div class = 'margin-div'>
					<h1>{{ page.title }}</h1>
					{% if page.speakers %}<h2 class = 'h2'>By {{ page.speakers[0].name }}{% if page.speakers[1] %} and {{page.speakers[1].name}}{% endif %}</h2>{% endif %}
				</div>
			 </div>
		</header>
		{%- endunless -%}
		{{ content }}
		{%- include footer.html -%}
		<script>{%- include scripts.js -%}</script>
	</body>
</html>
