<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}

		<link href="{{ site.baseurl }}/fonts/quicksand.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href='{{ site.baseurl }}/fonts/tito.css' />
		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" sizes="32x32">
		<script async src='{{ site.baseurl }}/javascript/tito.js'></script>

	</head>
	<body>
		<div class="content">
			{{ content }}
		</div>
		<footer>
			<div class="container">
				<div class="about">
					<p>{{ site.data.company.mission_statement }}</p>
				</div>

				<div class="contact">
					<address>
						<a href="https://www.google.com/maps/place/{{ site.data.company.address | url_encode }}">
							{% include icons/footer.html icon="place" %} {{ site.data.company.address }}
						</a>
					</address>
					<p class="email">
						<a href="mailto:{{ site.data.company.email }}">
							{% include icons/footer.html icon="email" %} {{ site.data.company.email }}
						</a>
					</p>
					<p class="phone">
						<a href="tel:{{ site.data.company.phone | replace: ' ', '-' }}">
							{% include icons/footer.html icon="phone" %} {{ site.data.company.phone }}
						</a>
					</p>
				</div>

				<div class="sharing">
					<a class="twitter" href="https://twitter.com/{{ site.data.company.twitter }}">
						{% include icons/social-media.html social_icon="twitter" %}
					</a>
				</div>
			</div>
		</footer>
		<p class="copyright"></p>

		<script src="{{ site.baseurl }}/javascript/jquery.min.js"></script>
		<script type="text/javascript">
			$('a[href*=\\#]').on('click', function(event){
				var el = $(this.hash);
				if (el.length > 0) {
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
				}
			});
		</script>
	</body>
</html>
