---
layout: default
---

<div class = 'xs'>{% include icons/background.html %}</div>
<header>
    {% include nav.html %}
    <div class = 'margin-div'>
        <h1 class = 'h1'>APRIL 26-29, 2019<br><span>Berlin, Germany</span></h1>
        <h2>Embedded Systems and IoT in Rust.</h2>
        <p>One day of guided workshops for developers looking to start or improve their Embedded Rust skills, one day of talks by community members, and a two day development session focused on building Embedded Systems in Rust.</p>
        <div id="buttons-div">
            <a class="buttons one" href="https://ti.to/asquera-event-ug/oxidize-2019">Get Tickets</a>
        </div><br><br><br><br><br>
    </div>
</header>
<div id="Schedule"></div>
<div id="schedule-div">
    <div class="margin-div">
        <h2 id="schedule-div-h2-head">Tickets</h2>
        <svg width="171" height="2" viewBox="0 0 171 2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="1" x2="171" y2="1" stroke="#E4E4E4" stroke-width="2"/>
        </svg>
        {%- include tickets.html -%}
   </div>
    <br><br><br><br>
</div>
<div class = 'margin-div pb-4 pt-4'>  
    <h2 id="schedule-div-h2-head">Sponsors and Partners</h2>
    {% include sponsors.html %}
</div>
<div class = 'xs'>{% include icons/svg_snake.html %}</div>
<div id="Logistics"></div>
<div id="logistics-div">
    <br><br><br>
    <div class="margin-div">
        <h2 id="logistics-div-h2-head">Venue</h2>
        <svg width="171" height="2" viewBox="0 0 171 2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="1" x2="171" y2="1" stroke="#E4E4E4" stroke-width="2"/>
        </svg>
        {% include venue.html %}
    </div>
    <br><br><br>
</div>
<div id="Newsletter"></div>
<div id="newsletter-div">
    <br><br><br>
    <div class="margin-div">
        <h2 style="font-family: 'Quicksand', sans-serif; color: #423CC6; font-weight: bold; line-height: 40px; font-size: 36px; margin-bottom: 28px">Newsletter</h2>
        <svg width="171" height="2" viewBox="0 0 171 2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="1" x2="171" y2="1" stroke="#E4E4E4" stroke-width="2"/>
        </svg>
        <p class="newsletter-para">Sign up to hear the latest news and progress of Oxidize.</p>
        <form action="https://ferrous-systems.us19.list-manage.com/subscribe/post?u=94954b16eab55b59525c890cb&id=e36e6cd91a" method="post" class = 'form'>
            <input class="form_email" type="email" name="email"><br class="input-br"><br class="input-br"><br class="mozila-br">
            <input class = "form_submit" type="submit" value="Sign Up">
        </form>
    </div>
    <br><br><br><br>
</div>
